<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= htmlWebpackPlugin.options.header %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
      </ul>
    </div>
  </div>
</nav>
<div class="container px-4" id="app">
  <h1>Juego de números</h1>
    <p>Haz click en los números por orden para ganar</p>
    <span v-for="item in orden" class="badge rounded-pill bg-primary">{{ item }}</span>
    <hr>
    <div class="row row-cols-2 gx-2">
        <div
                class="col p-3 border" v-for="item in divs" :key="item.id"
                v-bind:class="{ 'bg-success': item.clicked }"
                v-on:click="clickDiv(item)">
            {{ item.id }}
        </div>
    </div>
    <hr>
    <div class="alert" v-bind:class="[avisos.tipo]" role="alert">
        {{ avisos.mensaje }}
    </div>
    <button class="btn btn-primary" type="button" v-on:click="reload()">Recargar</button>
</div>
</body>
</html>
